<div class="container">
    <h6>Employee VISA Status Report</h6>
<br>
<div class="span-24 add-entry-box" style="padding: 10px;">
    <fieldset>
        <legend>Report</legend>
        <fieldset>
            <legend>Filter by - </legend>
        <div class="span-24">
        <div class="span-12">
            <div class="span-6 ">
                <label for="gender">Employee Name : - </label>
                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                    <option value="Male">Maddux</option>
                    <option value="Female">Gerge</option>
                </select>
            </div>
            <div class="span-6 last">
                <label for="gender">Position : - </label>
                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                    <option value="Male">Manager</option>
                    <option value="Female">Senior Developer</option>
                </select>
            </div>
            
        </div>
        <div class="span-12 last">
            <div class="span-6">
                <label for="gender">Employer : - </label>
                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                    <option value="Male">Retelzy</option>
                    <option value="Female">IGT</option>
                </select>
            </div>
            <div class="span-6 last">
                <label for="gender">Status : - </label>
                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                    <option value="Male">Maddux</option>
                    <option value="Female">Gerge</option>
                </select>
            </div>
            <div class="sticky-container" style="float: right;">
                <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                    Search
                </button>
            </div>
        </div>
       
        </div>
    </fieldset>
        <div class="table-wrap">
            <table cellspacing="0" cellpadding="0" border="0" summary="">
                <tbody>
                    <tr>
                        <th class="span-auto">S.No.</th>
                        <th class="span-8 hidden-mo">Name of Employee</th>
                        <th class="span-8 hidden-mo">position</th>
                        <th class="span-8">Name of Employer</th>
                        <th class="span-8">Status</th>
                        <th class="span-8">View Report</th>
                    </tr>
                    <tr>
                        <td class="span-auto">1</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">Retelzy</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">2</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">CAPGEMINI TECHNOLOGY </td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">3</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">IGT</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">3</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">IGT</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">3</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">IGT</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">3</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">IGT</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">3</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">IGT</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                    <tr>
                        <td class="span-auto">3</td>
                        <td class="span-8 hidden-mo"> Maddux Greg</td>
                        <td class="span-8">Manager</td>
                        <td class="span-8">IGT</td>
                        <td class="span-8">Open</td>
                        <td class="span-8"><a class=" "  [routerLink]="" (click)="viewReport()">View Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<div *ngIf="isViewReport">
        <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; position: absolute; visibility: visible; width: 1080px; height: 659px; top: 100px; left: 319px; background: skyblue;">
            <div id="cboxWrapper" style="height: 659px; width: 1082px;">
                <div>
                    <div id="cboxTopLeft" style="float: left;">
                    </div>
                    <div id="cboxTopCenter" style="float: left; width: 1040px;">
                    </div>
                    <div id="cboxTopRight" style="float: left;">
                    </div>
                </div>
                <div style="clear: left;">
                    <div id="cboxMiddleLeft" style="float: left; height: 617px;">
                    </div>
                    <div id="cboxContent" style="float: left; width: 1040px; height: 617px;">
                        <div id="cboxLoadedContent" style="width: 1040px; overflow: auto; height: 589px;">
                            <div id="userDetailsPopup">
                                <br>
                                <h6>VISA Progress Status</h6>
                                <br> 
                                    <div class="span-24">
                                        <fieldset>
                                            <legend>Employee Status</legend>
                                            <div class="span-24">
                                                <div class="span-12">
                                                    <label for="lastName">Employee Name : - </label> 
                                                    <label for="firstName">Maddux Greg</label>
                                                </div>
                                                <div class="span-12 last">
                                                    
                                                </div>

                                            </div>
                                            <div class="span-24">
                                                <div class="table-wrap">
                                                    <table cellspacing="0" cellpadding="0" border="0" summary="">
                                                        <tbody>
                                                            <br>
                                                            <tr>
                                                                
                                                                <td class="span-8 hidden-mo" style="background:greenyellow; text-align: center; "><b>OPEN</b> </td>
                                                                <td class="span-8" style="background:white; text-align: center;"><b>==================>></b></td>
                                                                <td class="span-8" style="background:grey; text-align: center;"><b>IN PROGRESS</b></td>
                                                                <td class="span-8" style="background:white; text-align: center;"><b>==================>></b></td>
                                                                <td class="span-8" style="background:grey; text-align: center;"><b>CLOSED</b></td>
                                                            </tr>
                                                            <br>
                                                            

                                                        </tbody>
                                                    </table>
                                                </div> 
                                                
                                            </div>
                                            
                                        </fieldset>
                                    </div>   
                            </div>
                        </div>
                <div id="cboxTitle" style="float: left; display: block;"></div>
                <div id="cboxCurrent" style="float: left; display: none;"></div>
                <button type="button" id="cboxPrevious" style="display: none;"></button>
                <button type="button" id="cboxNext" style="display: none;"></button>
                <button id="cboxSlideshow" style="display: none;"></button>
                <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
                <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left; height: 617px;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left; width: 640px;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
        </div>
    </div>


</div>