<div class="container">

    <h6>Your Address</h6>
<br>
<form action="/paytax/y2021/1/Address" method="post"> 
    <div>
        <div class="span-17" id="address-form">
            <fieldset>
                <legend>Address</legend>
                <div class="span-24">
                    <div class="span-12">
                        <label for="aptNumber">Apt. Number</label> 
                        <span class="redstar"> *</span><br>
                        <input class="text track-focus" data-name="aptNumber" id="aptNumber" name="aptNumber" type="text" value=""><br><br>
                        <span class="field-validation-valid notice" data-valmsg-for="aptNumber" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12 last">
                        <label for="sreetNumberAndName">Street Number and Name</label>
                        <span class="redstar"> *</span> <br>
                        <input class="text" id="sreetNumberAndName" name="sreetNumberAndName" type="text" value=""><br><br>
                        <span class="field-validation-valid notice" data-valmsg-for="sreetNumberAndName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12">
                        <label class="pinOrZip-label" for="pinCodeOrZipCode">ZIP Code</label> 
                        <span class="redstar"> *</span><br>
                        <input class="text capitalize track-focus" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value=""><br><br>
                        <span class="field-validation-valid notice" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12 last">
                        <label for="areaLocality">Area / Locality</label> <span class="redstar"> *</span><br>
                        <input class="text" id="areaLocality" name="areaLocality" type="text" value=""><br><br>
                        <span class="field-validation-valid notice" data-valmsg-for="areaLocality" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12">
                        <label for="townCity">Town / City</label> 
                        <span class="redstar"> *</span><br>
                        <input class="text" id="townCity" name="townCity" type="text" value=""><br><br>
                        <span class="field-validation-valid notice" data-valmsg-for="townCity" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12 last">
                        <label for="state">State</label> 
                        <span class="redstar"> *</span><br>
                        <select class="stateField" data-val="true" data-val-required="The stateInIndia field is required." id="state" name="state">
                            <option value="MAHARASHTRA">MAHARASHTRA</option>
                        </select><br><br>
                        <span class="field-validation-valid notice" data-valmsg-for="state" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12">
                        <label for="country">Country</label> 
                        <span class="redstar"> *</span> <br>
                        <select class="country-dropdown" data-val="true" data-val-required="The country field is required." id="country" name="country">
                            <option selected="selected" value="US">US</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
            <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                <div class="sticky-container">
                    <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                        Save
                    </button>
                </div>
            </div>
        </div>
    <input type="hidden" name="_dirty_flag" value="false">
</form>
</div>