<header>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a [routerLink]="" (click)="homePage()">
                    <img src="../../assets/images/RIS_1.png" alt="">
                </a>
            </h1>
        </div>
<nav class="navigation hidden-mo">
    
<ul>
        <li><a class="ct-font-sm" id="purchases-link" [routerLink]="" (click)="manageAccount()">Manage Account</a></li>
        
        <li class="hidden-mo"><a href="/Tools/SearchPaytax?entityIndex=1&amp;year=2021" class="cbox-search cboxElement" data-tracking-action="search_button" style="border-color: #30a8ff;">Search<span class="search-icon"></span></a></li>
        <li id="logout_mweb_paytax" class="hidden-mo"><a [routerLink]="" (click)="logout()">Logout</a></li>
</ul>
</nav>
</header>