<div class="mt50 sticky-footer-check">
    
    <div class="ct-trust-markers">
    <div class="info-text">
    ClearTax is a product by Defmacro Software Pvt. Ltd.
    <div class="trust-links">
    <a class="link" target="_blank" href="/Meta/Privacy">Privacy Policy</a>
    <a class="link" target="_blank" href="/Meta/Terms">Terms of Use</a>
    </div>
    </div>
    <div class="trust-markers">
    <div class="marker iso">
    <span class="logo">
        <img src="https://assets1.cleartax-cdn.com/common/images/iso-logo.png">
    </span>
    ISO 27001
    <br>
    Data Center
    </div>
    <div class="marker security">
    <span class="logo">
        <img src="https://assets1.cleartax-cdn.com/common/images/ssl.png">
    </span>
    SSL Certified Site
    <br>
    128-bit encryption
    </div>
    </div>
    </div>
    
    </div>