<div class="container">
    <app-header></app-header>
    <div id="main" role="main">
        <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
            <ol class="container2 immigration center-nav primary-nav">
                <li><a class="nav-EmployeeInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="empInfo()">1. User Profile</a></li>
                <li><a class="nav-VisaInfo " [ngClass]="visaStatus ? 'active' : ''" [routerLink]="" (click)="visaInfo()">2. Role Profile</a></li>
                <li><a class="nav-Deductions" [ngClass]="addStatus ? 'active' : ''" [routerLink]="" (click)="addInfo()">3. </a></li>
                <li><a class="nav-TaxesPaid " [ngClass]="addStatus ? 'active' : ''" [routerLink]="" (click)="addInfo()">4. </a></li>
                <li><a class="nav-TaxFiling " [ngClass]="addStatus ? 'active' : ''" [routerLink]="" (click)="addInfo()">5. </a></li>
            </ol>
        </div>
        <div class="hidden-mo secondary-nav-wrap " style="margin: 15px 0; margin-bottom: 20px;" *ngIf="isEmpSec" >
            <ol class="secondary-nav container2 immigration center-nav">
                <li><a class=" " [ngClass]="empInfoStatus ? 'active' : ''" [routerLink]="" (click)="empInfo()">A. Add</a></li>
                <li><a class=" " [ngClass]="addInfoStatus ? 'active' : ''" [routerLink]="" (click)="addInfo()">B. Update</a></li>
                <li><a class=" " [ngClass]="orgInfoStatus ? 'active' : ''" [routerLink]="" (click)="orgInfo()">C. Delete</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="hidden-mo secondary-nav-wrap " style="margin: 15px 0; margin-bottom: 20px;" *ngIf="isVisaSec">
            <ol class="secondary-nav container2 clearfix center-nav">
                <li><a class=" " [ngClass]="visaInfoStatus ? 'active' : ''" [routerLink]="" (click)="visaInfo()">A. Add</a></li>
                <li><a class=" " [ngClass]="docInfoStatus ? 'active' : ''" [routerLink]="" (click)="docInfo()">B. Delete</a></li>
 
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
    </div>
    
    <div *ngIf="isEmpInfo">
        <div class="container">
            <h6>Create New User Profile</h6>
        <br>
        <form action="/paytax/y2021/1/Address" method="post"> 
            <div>
                <div class="span-17" id="address-form">
                    <fieldset>
                        <legend>New User Profile</legend>
                        <div class="span-24">
                            <div class="span-12">
                                <label for="lastName">Last Name (Family Name)</label> 
                                <span class="redstar"> *</span><br>
                                <input class="text track-focus" data-name="LastName" id="lastName" name="lastName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="lastName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="firstName">First Name (Given Name)</label> 
                                <span class="redstar"> *</span><br>
                                <input class="text" id="firstName" name="firstName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="firstName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12">
                                <label for="middleName">Username</label> <br>
                                <input class="text" id="middleName" name="middleName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="otherlastName">Password</label>
                                <span class="redstar"> *</span><br>
                                <input class="text" id="otherlastName" name="otherLastName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12">
                                <label for="pan">Confirm Password</label> 
                                <span class="redstar"> *</span><br>
                                <input class="text capitalize track-focus" data-name="PAN" id="pan" name="pan" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="pan" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="email">Employee's E-Mail Address</label> 
                                <span class="redstar"> *</span> <br>
                                <input class="text" id="email" name="email" type="email" value="amit.toradmal09@gmail.com"><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="gender">User Role</label> <span class="redstar"> *</span> <br><br>
                                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                    <option value="Male">Admin</option>
                                    <option value="Female">HR</option>
                                    <option value="Female">Employee</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                    <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                        <div class="sticky-container">
                            <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="_dirty_flag" value="false">
        </form>
        </div>
    </div>

    <div *ngIf="isAddInfo">
        <div class="container">
            <h6>Update User Profile</h6>
        <br>
        <form action="/paytax/y2021/1/Address" method="post"> 
            <div>
                <div class="span-17" id="address-form">
                    <fieldset>
                        <legend>Update User Profile</legend>
                        <div class="span-24">
                            <div class="span-12">
                                <label for="lastName">Last Name (Family Name)</label> 
                                <span class="redstar"> *</span><br>
                                <input class="text track-focus" data-name="LastName" id="lastName" name="lastName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="lastName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="firstName">First Name (Given Name)</label> 
                                <span class="redstar"> *</span><br>
                                <input class="text" id="firstName" name="firstName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="firstName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12">
                                <label for="middleName">Username</label> <br>
                                <input class="text" id="middleName" name="middleName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="otherlastName">Password</label>
                                <span class="redstar"> *</span><br>
                                <input class="text" id="otherlastName" name="otherLastName" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12">
                                <label for="pan">Confirm Password</label> 
                                <span class="redstar"> *</span><br>
                                <input class="text capitalize track-focus" data-name="PAN" id="pan" name="pan" type="text" value=""><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="pan" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="email">Employee's E-Mail Address</label> 
                                <span class="redstar"> *</span> <br>
                                <input class="text" id="email" name="email" type="email" value="amit.toradmal09@gmail.com"><br><br>
                                <span class="field-validation-valid notice" data-valmsg-for="email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="span-12 last">
                                <label for="gender">User Role</label> <span class="redstar"> *</span> <br><br>
                                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                    <option value="Male">Admin</option>
                                    <option value="Female">HR</option>
                                    <option value="Female">Employee</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                    <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                        <div class="sticky-container">
                            <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="_dirty_flag" value="false">
        </form>
        </div>
    </div>

    <div *ngIf="isOrgInfo">
        <div class="container">
            <h6>Delete User Profile</h6>
        <br>
        <form action="/paytax/y2021/1/Address" method="post"> 
            <div>
                <div class="span-17" id="address-form">
                    <fieldset>
                        <legend>Delete User Profile</legend>
                        <div class="span-24">
                            
                            
                            
                           
                            
                        </div>
                    </fieldset>
                </div>
                    <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                        <div class="sticky-container">
                            <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="_dirty_flag" value="false">
        </form>
        </div>
    </div>

    <div *ngIf="isVisaInfo">
        <div class="container">
            <h6>Add New Role Profile</h6>
        <br>
        <form action="/paytax/y2021/1/Address" method="post"> 
            <div>
                <div class="span-17" id="address-form">
                    <fieldset>
                        <legend>Add New Role</legend>
                        <div class="span-24">
                            
                            
                            
                        </div>
                    </fieldset>
                </div>
                    <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                        <div class="sticky-container">
                            <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="_dirty_flag" value="false">
        </form>
        </div>
    </div>

    <div *ngIf="isDocInfo">
        <div class="container">
            <h6>Delete Role Profile</h6>
        <br>
        <form action="/paytax/y2021/1/Address" method="post"> 
            <div>
                <div class="span-17" id="address-form">
                    <fieldset>
                        <legend>Delete Role</legend>
                        <div class="span-24">
                            
                            
                            
                           
                           
                           
                            
                        </div>
                    </fieldset>
                </div>
                    <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                        <div class="sticky-container">
                            <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Address" class="large awesome blue btn-save full-640">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="_dirty_flag" value="false">
        </form>
        </div>
    </div>

   
    
    </div>