<div class="container">
    <h6>Employee Information</h6>
<br>
<form action="/paytax/y2021/1/Address" method="post"> 
    <div>
        <div class="span-17" id="address-form">
            <fieldset>
                <legend>Employee Information</legend>
                <div class="span-24">
                    <div class="span-12">
                        <label for="lastName">Last Name (Family Name)</label> 
						<span class="redstar"> *</span><br>
						<input class="text track-focus" data-name="LastName" id="lastName" name="lastName" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="lastName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12 last">
                        <label for="firstName">First Name (Given Name)</label> 
						<span class="redstar"> *</span><br>
						<input class="text" id="firstName" name="firstName" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="firstName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12">
                        <label for="middleName">Middle Initial</label> <br>
						<input class="text" id="middleName" name="middleName" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="middleName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12 last">
                        <label for="otherlastName">Other Last Names Used (if any)</label> <br>
						<input class="text" id="otherlastName" name="otherLastName" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12">
                        <label for="dateofBirth">Date of Birth</label>  
						<span class="redstar"> *</span><br>
						<input class="text" id="dateofBirth" name="dateofBirth" placeholder="dd/mm/yyyy" type="text" value=""><br><br>
						<span class="field-validation-valid error" data-valmsg-for="dateofBirth" data-valmsg-replace="true"></span>
                    </div>
                    <div class="span-12 last">
                        <label for="gender">Gender</label> <span class="redstar"> *</span> <br><br>
						<select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
                    </div>
                    <div class="span-12">
                        <label for="USSocSecNum">U.S. Social Security Number</label> 
						<span class="redstar"> *</span><br>
						<input class="text capitalize track-focus" data-name="USSocSecNum" id="USSocSecNum" name="USSocSecNum" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="USSocSecNum" data-valmsg-replace="true"></span>
                    </div>
					<div class="span-12 last">
                        <label for="email">Employee's E-Mail Address</label> 
						<span class="redstar"> *</span> <br>
						<input class="text" id="email" name="email" type="email" value="amit.toradmal09@gmail.com"><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="email" data-valmsg-replace="true"></span>
                    </div>
					<div class="span-12 ">
                        <label for="telephoneNumber">Employee's Telephone Number</label> 
						<span class="redstar"> *</span><br>
						<input class="text track-focus" data-name="telephoneNumber" id="telephoneNumber" name="telephoneNumber" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="telephoneNumber" data-valmsg-replace="true"></span>
                    </div>
					<div class="span-12 last">
                        <label for="mobileNumber">Mobile Number</label> 
						<span class="redstar"> *</span><br>
						<input class="text track-focus" data-name="mobileNumber" id="mobileNumber" name="mobileNumber" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="mobileNumber" data-valmsg-replace="true"></span>
                    </div>
					<div class="span-12 ">
                        <label for="alternateMobileNumber">Alternate Mobile Number</label> 
						<span class="redstar"> *</span><br>
						<input class="text track-focus" data-name="alternateMobileNumber" id="alternateMobileNumber" name="alternateMobileNumber" type="text" value=""><br><br>
						<span class="field-validation-valid notice" data-valmsg-for="alternateMobileNumber" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </fieldset>
        </div>
            <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
                <div class="sticky-container">
                    <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="employeeInformation" class="large awesome blue btn-save full-640">
                        Save
                    </button>
                </div>
            </div>
        </div>
    <input type="hidden" name="_dirty_flag" value="false">
</form>
</div>