<div class="container">
<app-header></app-header>
<div id="main" role="main">
    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 immigration center-nav primary-nav">
            <li><a class="nav-EmployeeInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="empInfo()">1. Employee Info</a></li>
            <li><a class="nav-VisaInfo " [ngClass]="visaStatus ? 'active' : ''" [routerLink]="" (click)="visaInfo()">2. VISA Info</a></li>
            <li><a class="nav-Deductions" [ngClass]="addStatus ? 'active' : ''" [routerLink]="" (click)="addInfo()">3. </a></li>
            <li><a class="nav-TaxesPaid " [ngClass]="reviewStatus ? 'active' : ''" [routerLink]="" (click)="review()">4. Review </a></li>
            <li><a class="nav-TaxFiling " [ngClass]="reportStatus ? 'active' : ''" [routerLink]="" (click)="report()">5. Report</a></li>
        </ol>
    </div>
    <div class="hidden-mo secondary-nav-wrap " style="margin: 15px 0; margin-bottom: 20px;" *ngIf="isEmpSec" >
        <ol class="secondary-nav container2 immigration center-nav">
            <li><a class=" " [ngClass]="empInfoStatus ? 'active' : ''" [routerLink]="" (click)="empInfo()">A. Employee Info</a></li>
            <li><a class=" " [ngClass]="addInfoStatus ? 'active' : ''" [routerLink]="" (click)="addInfo()">B. Address</a></li>
            <li><a class=" " [ngClass]="orgInfoStatus ? 'active' : ''" [routerLink]="" (click)="orgInfo()">C. Organization Details</a></li>
            <span class="secondary-nav-highlight-bar"></span>
        </ol>
    </div>
    <div class="hidden-mo secondary-nav-wrap " style="margin: 15px 0; margin-bottom: 20px;" *ngIf="isVisaSec">
        <ol class="secondary-nav container2 clearfix center-nav">
            <li><a class=" " [ngClass]="visaInfoStatus ? 'active' : ''" [routerLink]="" (click)="visaInfo()">A. Visa Information</a></li>
            <li><a class=" " [ngClass]="docInfoStatus ? 'active' : ''" [routerLink]="" (click)="docInfo()">B. Documnet Details</a></li>
            <span class="secondary-nav-highlight-bar"></span>
        </ol>
    </div>
</div>

<div *ngIf="isEmpInfo">
    <app-employee></app-employee>
</div>
<div *ngIf="isAddInfo">
    <app-address></app-address>
</div>
<div *ngIf="isDocInfo">
    <app-document></app-document>
</div>
<div *ngIf="isOrgInfo">
    <app-organization></app-organization>
</div>
<div *ngIf="isVisaInfo">
    <app-visainfo></app-visainfo>
</div>
<div *ngIf="isReviewInfo">
    <app-review></app-review>
</div>
<div *ngIf="isReport">
    <app-report></app-report>
</div>

</div>