<div class="container">
    <h6>Document Information</h6>
<br>
<form action="/paytax/y2021/1/Address" method="post"> 
    <div>
        <div class="span-24" id="address-form">
            <fieldset>
                <legend>Document Information</legend>
                    <div class="span-12">
                        <div class="span-8">
                            <label for="documentTitle">Document Title</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text track-focus" data-name="documentTitle" id="documentTitle" name="documentTitle" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="documentTitle" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-8">
                            <label for="issuingAuthority">Issuing Authority</label>
                            <span class="redstar"> *</span> <br>
                            <input class="text" id="issuingAuthority" name="issuingAuthority" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="issuingAuthority" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-8 last">
                            <label class="documentNumber" for="pinCodeOrZipCode">Document Number</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text capitalize track-focus" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true"></span>
                        </div>
                            <div class="span-8">
                            <label for="ExpDate">Expiration Date</label>  
                            <span class="redstar"> *</span><br>
                            <input class="text" id="ExpDate" name="ExpDate" placeholder="dd/mm/yyyy" type="text" value=""><br><br>
                            <span class="field-validation-valid error" data-valmsg-for="ExpDate" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-8 last">
                            <label for="additionalInfo">Additional Information</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="additionalInfo" name="additionalInfo" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="additionalInfo" data-valmsg-replace="true"></span>
                        </div>
                    </div>
            </fieldset>
        </div>
    </div>
    <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
        <div class="sticky-container">
            <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Document" class="large awesome blue btn-save full-640">
                Save
            </button>
        </div>
    </div>
<input type="hidden" name="_dirty_flag" value="false">
</form>
</div>