<div class="container">
    <h6>VISA Information</h6>
<br>
<form action="/paytax/y2021/1/Address" method="post"> 
    <div>
        <div class="span-24" id="address-form">
            <fieldset>
                <legend>VISA Information</legend>
                    <div class="span-24">
                        <div class="span-12">
                            <label for="isUSCitizen">Is the employee a citizen of the United States?</label> 
                            <span class="redstar" style="color: red;"> *</span> <br>
                            <select data-val="true" data-val-required="The field is required." id="isUSCitizen" name="isUSCitizen">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                        <div class="span-12 last">
                            <label for="isNonUSCitizen">Is the employee a citizen of another country?</label> 
                            <span class="redstar"> *</span> <br>
                            <select data-val="true" data-val-required="The field is required." id="isNonUSCitizen" name="isNonUSCitizen">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                    
                        <div class="span-12">
                            <label for="isEmplawfulPermanentResident">Is the employee a lawful permanent resident?</label> 
                            <span class="redstar"> *</span> <br>
                            <select data-val="true" data-val-required="The field is required." id="isEmplawfulPermanentResident" name="isEmplawfulPermanentResident">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                        <div class="span-12 last">
                            <label for="isAuthorizedToWork">Is the employee an alien authorized to work?</label> 
                            <span class="redstar"> *</span> <br>
                            <select data-val="true" data-val-required="The field is required." id="isAuthorizedToWork" name="isAuthorizedToWork">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                        <div class="span-12">
                            <label for="permAlienRegNo">If employee is a lawful permanent resident, then Alien Registration Number/USCIS Number</label>
                            <span class="redstar"> *</span> <br>
                            <input class="text" id="permAlienRegNo" name="permAlienRegNo" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="permAlienRegNo" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12 last">
                            <label  for="alienAuthToWorkRegNo">Alien authorized to work Alien Registration Number/USCIS Number, or </label> 
                            <span class="redstar"> *</span><br>
                            <input class="text capitalize track-focus" id="alienAuthToWorkRegNo" name="alienAuthToWorkRegNo" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="alienAuthToWorkRegNo" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12">
                            <label for="alienAuthToWorkI94AdmiNo">Alien authorized to work Form I-94 Admission Number, or</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="alienAuthToWorkI94AdmiNo" name="alienAuthToWorkI94AdmiNo" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="alienAuthToWorkI94AdmiNo" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12 last">
                            <label for="alienAuthToWorkForeignPassportNum">Alien authorized to work Foreign Passport Number</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="alienAuthToWorkForeignPassportNum" name="alienAuthToWorkForeignPassportNum" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="alienAuthToWorkForeignPassportNum" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12">
                            <label for="alienAuthToWorkForeignPassportCounry">Alien authorized to work Foreign Passport Country of Issuance</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="alienAuthToWorkForeignPassportCounry" name="alienAuthToWorkForeignPassportCounry" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="alienAuthToWorkForeignPassportCounry" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12 last">
                            <label for="townCityDistrict"></label> 
                            <span class="redstar"> </span><br>
                            <br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-24">
                            <label for="docTitle">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Title)</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="docTitle" name="docTitle" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="docTitle" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-24">
                            <label for="docNumber">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Number)</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="docNumber" name="docNumber" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="docNumber" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-24">
                            <label for="docExpDate">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. [Expiration Date (if any)]</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="docExpDate" name="docExpDate" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="docExpDate" data-valmsg-replace="true"></span>  
                        </div>
                        
                    </div>
            </fieldset>
        </div>
        <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
            <div class="sticky-container">
                <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="VisaInfo" class="large awesome blue btn-save full-640">
                    Save
                </button>
            </div>
        </div>
    </div>
<input type="hidden" name="_dirty_flag" value="false"></form></div>