<div class="container">
    <h6>Review Your Information</h6>
<br>


        <div class="span-17" id="employee-form">
            <fieldset>
                <legend>Employee Information</legend>
                <div class="span-24">
                    <div class="span-24" >
                        <a class="nav-EmployeeInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="saveEmp()" style="float: right;">Edit</a><br><br>
                    </div>
                    <div class="span-12">
                        <label for="lastName">Last Name (Family Name)</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Maddux</label> 
                    </div>
                    <div class="span-12">
                        <label for="firstName">First Name (Given Name)</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Greg</label> 
                    </div>
                    <div class="span-12">
                        <label for="middleName">Middle Initial</label> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >A</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="otherlastName">Other Last Names Used (if any)</label> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Patel</label> 
                    </div>
                    <div class="span-12">
                        <label for="dateofBirth">Date of Birth</label>  
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >20/12/1988</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="gender">Gender</label> <span class="redstar"> *</span> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Male</label> 
                    </div>
                    <div class="span-12">
                        <label for="USSocSecNo">U.S. Social Security Number</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >123456789</label> 
                    </div>
					<div class="span-12 ">
                        <label for="email">Employee's E-Mail Address</label> 
						<span class="redstar"> *</span> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >greg@me.com</label> 
                    </div>
					<div class="span-12 ">
                        <label for="telephoneNumber">Employee's Telephone Number</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >12345678</label> 
                    </div>
					<div class="span-12 ">
                        <label for="mobileNumber">Mobile Number</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >12345678</label> 
                    </div>
					<div class="span-12 ">
                        <label for="alternateMobileNumber">Alternate Mobile Number</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >12345678</label> 
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="span-17" id="address-form">
            <fieldset>
                <legend>Address Information</legend>
                <div class="span-24">
                    <div class="span-24" >
                        <a class="nav-AddressInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="saveAdd()" style="float: right;">Edit</a><br><br>
                    </div>
                    <div class="span-12">
                        <label for="aptNumber">Apt. Number</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >111</label> 
                    </div>
                    <div class="span-12">
                        <label for="sreetNumberAndName">Street Number and Name</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >234 Front Street</label> 
                    </div>
                    <div class="span-12">
                        <label for="zipCode">ZIP Code</label> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >30302</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="areaLocality">Area / Locality </label> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >A</label> 
                    </div>
                    <div class="span-12">
                        <label for="townCity">Town / City </label>  
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Atlanta</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="state">State</label> 
                        <span class="redstar"> *</span> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >MH</label> 
                    </div>
                    <div class="span-12">
                        <label for="country">Country</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >US</label> 
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="span-17" id="organization-form">
            <fieldset>
                <legend>Organization Details</legend>
                <div class="span-24">
                    <div class="span-24" >
                        <a class="nav-OrganizationInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="saveOrg()" style="float: right;">Edit</a><br><br>
                    </div>
                    <div class="span-12">
                        <label for="lastNameOfEmpOrAuthorizedRepresentative">Last Name of Employer or Authorized Representative</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Maddux</label> 
                    </div>
                    <div class="span-12">
                        <label for="firstNameOfEmpOrAuthorizedRepresentative">First Name of Employer or Authorized Representative</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Greg</label> 
                    </div>
                    <div class="span-12">
                        <label for="empBusinessOrOrgName">Employer's Business or Organization Name</label> 
                        <span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Retelzy</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="titleOfEmpOrAuthorizedRepresentative">Title of Employer or Authorized Representative</label> 
                        <span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Senior Manager</label> 
                    </div>
                    <div class="span-12">
                        <label for="firstDayOfEmployment">The Employee's first day of employment</label>  
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >20/12/2020</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="dateofRehire">Date of Rehire , if applicable</label> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12">
                        <label for="sreetNumberAndName">Street Number and Name </label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >122 SAHARA</label> 
                    </div>
					<div class="span-12 ">
                        <label for="townCity">Town / City</label> 
						<span class="redstar"> *</span> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Atlanta</label> 
                    </div>
					<div class="span-12 ">
                        <label for="state">State</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >MH</label> 
                    </div>
					<div class="span-12 ">
                        <label for="zipCode">ZIP Code</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >123456</label> 
                    </div>
					<div class="span-12 ">
                        <label for="country">Country</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >US</label> 
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="span-17" id="visa-form">
            <fieldset>
                <legend>VISA Information</legend>
                <div class="span-24">
                    <div class="span-24" >
                        <a class="nav-VisaInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="saveVisa()" style="float: right;">Edit</a><br><br>
                    </div>
                    <div class="span-12">
                        <label for="isUSCitizen">Is the employee a citizen of the United States?</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Yes</label> 
                    </div>
                    <div class="span-12">
                        <label for="isNonUSCitizen">Is the employee a citizen of another country?</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Yes</label> 
                    </div>
                    <div class="span-12">
                        <label for="isEmplawfulPermanentResident">Is the employee a lawful permanent resident? </label> 
                        <span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Yes</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="isAuthorizedToWork">Is the employee an alien authorized to work? </label> 
                        <span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >Yes</label> 
                    </div>
                    <div class="span-12">
                        <label for="permAlienRegNo">If employee is a lawful permanent resident, then Alien Registration Number/USCIS Number</label>  
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >9876543</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="alienAuthToWorkRegNo">Alien authorized to work Alien Registration Number/USCIS Number, or </label> <span class="redstar"> *</span> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12">
                        <label for="alienAuthToWorkI94AdmiNo">Alien authorized to work Form I-94 Admission Number, or </label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
					<div class="span-12 ">
                        <label for="alienAuthToWorkForeignPassportNum">Alien authorized to work Foreign Passport Number</label> 
						<span class="redstar"> *</span> <br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
					<div class="span-12 ">
                        <label for="alienAuthToWorkForeignPassportCounry">Alien authorized to work Foreign Passport Country of Issuance</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
					<div class="span-12 ">
                        <label for="docTitle">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Title) </label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="docNumber">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Number) </label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12 ">
                        <label for="docExpDate">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization.  [Expiration Date (if any)]  </label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="span-17" id="document-form">
            <fieldset>
                <legend>Document Information</legend>
                <div class="span-24">
                    <div class="span-24" >
                        <a class="nav-DocumentInfo " [ngClass]="empStatus ? 'active' : ''" [routerLink]="" (click)="saveDoc()" style="float: right;">Edit</a><br><br>
                    </div>
                    <div class="span-12">
                        <label for="documentTitle">Document Title</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12">
                        <label for="issuingAuthority">Issuing Authority</label> 
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12">
                        <label for="documentNumber">Document Number </label> 						
                        <span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >-</label> 
                    </div>
                    <div class="span-12">
                        <label for="ExpDate">Expiration Date</label>  
						<span class="redstar"> *</span><br><br>
                    </div>
                    <div class="span-12 last">
                        <label >20/12/2022</label> 
                    </div>
                </div>
            </fieldset>
        </div>
    <input type="hidden" name="_dirty_flag" value="false">

<div *ngIf="isEditEmpInfo">
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; position: absolute; visibility: visible; width: 1080px; height: 659px; top: 100px; left: 319px; background: skyblue;">
        <div id="cboxWrapper" style="height: 659px; width: 1082px;">
            <div>
                <div id="cboxTopLeft" style="float: left;">
                </div>
                <div id="cboxTopCenter" style="float: left; width: 1040px;">
                </div>
                <div id="cboxTopRight" style="float: left;">
                </div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left; height: 617px;">
                </div>
                <div id="cboxContent" style="float: left; width: 1040px; height: 617px;">
                    <div id="cboxLoadedContent" style="width: 1040px; overflow: auto; height: 589px;">
                        <div id="userDetailsPopup">
                            <h6>Edit Employee Information</h6>
                            <form action="/Account/Profile" method="post">    
                                <div class="span-24">
                                    <fieldset>
                                        <legend>Employee Information</legend>
                                        <div class="span-24">
                                            <div class="span-12">
                                                <label for="lastName">Last Name (Family Name)</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text track-focus" data-name="LastName" id="lastName" name="lastName" type="text" value="Maddux"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="lastName" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 last">
                                                <label for="firstName">First Name (Given Name)</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text" id="firstName" name="firstName" type="text" value="Greg"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="firstName" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12">
                                                <label for="middleName">Middle Initial</label> <br>
                                                <input class="text" id="middleName" name="middleName" type="text" value="A"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 last">
                                                <label for="otherlastName">Other Last Names Used (if any)</label> <br>
                                                <input class="text" id="otherlastName" name="otherLastName" type="text" value="Patel"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="otherLastName" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12">
                                                <label for="dateofBirth">Date of Birth</label>  
                                                <span class="redstar"> *</span><br>
                                                <input class="text" id="dateofBirth" name="dateofBirth" placeholder="dd/mm/yyyy" type="text" value="20/12/1988"><br><br>
                                                <span class="field-validation-valid error" data-valmsg-for="dateofBirth" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 last">
                                                <label for="gender">Gender</label> <span class="redstar"> *</span> <br><br>
                                                <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                            <div class="span-12">
                                                <label for="USSocSecNo">U.S. Social Security Number</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text capitalize track-focus" data-name="USSocSecNo" id="USSocSecNo" name="USSocSecNo" type="text" value="123456789"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="USSocSecNo" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 last">
                                                <label for="email">Employee's E-Mail Address</label> 
                                                <span class="redstar"> *</span> <br>
                                                <input class="text" id="email" name="email" type="email" value="greg@me.com"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 ">
                                                <label for="telephoneNumber">Employee's Telephone Number</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text track-focus" data-name="telephoneNumber" id="telephoneNumber" name="telephoneNumber" type="text" value="12345678"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="telephoneNumber" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 last">
                                                <label for="mobileNumber">Mobile Number</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text track-focus" data-name="mobileNumber" id="mobileNumber" name="mobileNumber" type="text" value="12345678"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="mobileNumber" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-12 ">
                                                <label for="alternateMobileNumber">Alternate Mobile Number</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text track-focus" data-name="alternateMobileNumber" id="alternateMobileNumber" name="alternateMobileNumber" type="text" value="12345678"><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="alternateMobileNumber" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="span-12">
                                            <button type="submit" class="large awesome green" name="submitButton" value="Add" (click)="saveEmp()">
                                            SAVE
                                            </button>
                                        </div>
                                    </fieldset>
                            </div>
                        </form>    
                    </div>
                </div>
            <div id="cboxTitle" style="float: left; display: block;"></div>
            <div id="cboxCurrent" style="float: left; display: none;"></div>
            <button type="button" id="cboxPrevious" style="display: none;"></button>
            <button type="button" id="cboxNext" style="display: none;"></button>
            <button id="cboxSlideshow" style="display: none;"></button>
            <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
            <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left; height: 617px;"></div>
    </div>
    <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left; width: 640px;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
    </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
    </div>
</div>

<div *ngIf="isEditAddInfo">
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; position: absolute; visibility: visible; width: 1080px; height: 459px; top: 500px; left: 319px; background: skyblue;">
        <div id="cboxWrapper" style="height: 459px; width: 1082px;">
            <div>
                <div id="cboxTopLeft" style="float: left;">
                </div>
                <div id="cboxTopCenter" style="float: left; width: 1040px;">
                </div>
                <div id="cboxTopRight" style="float: left;">
                </div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left; height: 417px;">
                </div>
                <div id="cboxContent" style="float: left; width: 1040px; height: 417px;">
                    <div id="cboxLoadedContent" style="width: 1040px; overflow: auto; height: 489px;">
                        <div id="userDetailsPopup">
                            <h6>Edit Address Information</h6>
                            <form action="/Account/Profile" method="post">    
                                <div class="span-24">
                                    <fieldset>
                                        <legend>Address</legend>
                                       <div class="span-24">
                                        <div class="span-12">
                                            <label for="aptNumber">Apt. Number</label> 
                                            <span class="redstar"> *</span><br>
                                            <input class="text track-focus" data-name="aptNumber" id="aptNumber" name="aptNumber" type="text" value="111"><br><br>
                                            <span class="field-validation-valid notice" data-valmsg-for="aptNumber" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="span-12 last">
                                            <label for="sreetNumberAndName">Street Number and Name</label>
                                            <span class="redstar"> *</span> <br>
                                            <input class="text" id="sreetNumberAndName" name="sreetNumberAndName" type="text" value="234 Front Street"><br><br>
                                            <span class="field-validation-valid notice" data-valmsg-for="sreetNumberAndName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="span-12">
                                            <label class="pinOrZip-label" for="pinCodeOrZipCode">ZIP Code</label> 
                                            <span class="redstar"> *</span><br>
                                            <input class="text capitalize track-focus" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value="30303"><br><br>
                                            <span class="field-validation-valid notice" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="span-12 last">
                                            <label for="areaLocality">Area / Locality</label> <span class="redstar"> *</span><br>
                                            <input class="text" id="areaLocality" name="areaLocality" type="text" value="A"><br><br>
                                            <span class="field-validation-valid notice" data-valmsg-for="areaLocality" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="span-12">
                                            <label for="townCity">Town / City</label> 
                                            <span class="redstar"> *</span><br>
                                            <input class="text" id="townCity" name="townCity" type="text" value="Atlanta"><br><br>
                                            <span class="field-validation-valid notice" data-valmsg-for="townCity" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="span-12 last">
                                            <label for="state">State</label> 
                                            <span class="redstar"> *</span><br>
                                            <select class="stateField" data-val="true" data-val-required="The state field is required." id="state" name="state">
                                                <option value="MAHARASHTRA">MAHARASHTRA</option>
                                            </select><br><br>
                                            <span class="field-validation-valid notice" data-valmsg-for="state" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="span-12">
                                            <label for="country">Country</label> 
                                            <span class="redstar"> *</span> <br>
                                            <select class="country-dropdown" data-val="true" data-val-required="The country field is required." id="country" name="country">
                                                <option selected="selected" value="US">US</option>
                                            </select>
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="span-12">
                                            <button type="submit" class="large awesome green" name="submitButton" value="Add" (click)="saveAdd()">
                                            SAVE
                                            </button>
                                    </div>
                                    </fieldset>
                            </div>
                        </form>    
                    </div>
                </div>
            <div id="cboxTitle" style="float: left; display: block;"></div>
            <div id="cboxCurrent" style="float: left; display: none;"></div>
            <button type="button" id="cboxPrevious" style="display: none;"></button>
            <button type="button" id="cboxNext" style="display: none;"></button>
            <button id="cboxSlideshow" style="display: none;"></button>
            <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
            <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left; height: 617px;"></div>
    </div>
    <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left; width: 640px;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
    </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
    </div>
</div>

<div *ngIf="isEditOrgInfo">
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; position: absolute; visibility: visible; width: 1080px; height: 659px; top: 900px; left: 319px; background: skyblue;">
        <div id="cboxWrapper" style="height: 659px; width: 1082px;">
            <div>
                <div id="cboxTopLeft" style="float: left;">
                </div>
                <div id="cboxTopCenter" style="float: left; width: 1040px;">
                </div>
                <div id="cboxTopRight" style="float: left;">
                </div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left; height: 617px;">
                </div>
                <div id="cboxContent" style="float: left; width: 1040px; height: 617px;">
                    <div id="cboxLoadedContent" style="width: 1040px; overflow: auto; height: 589px;">
                        <div id="userDetailsPopup">
                            <h6>Edit Organization Details</h6>
                            <form action="/Account/Profile" method="post">    
                                <div class="span-24">
                                    <fieldset>
                                        <legend _ngcontent-mgp-c21="">Organization Details</legend>
                                        <div _ngcontent-mgp-c21="" class="span-24 last">
                                            <div _ngcontent-mgp-c21="" class="span-12">
                                                <label _ngcontent-mgp-c21="" for="lastNameOfEmpOrAuthorizedRepresentative">Last Name of Employer or Authorized Representative </label>
                                                <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                                <br _ngcontent-mgp-c21="">
                                                <input _ngcontent-mgp-c21="" data-name="lastNameOfEmpOrAuthorizedRepresentative" id="lastNameOfEmpOrAuthorizedRepresentative" name="lastNameOfEmpOrAuthorizedRepresentative" type="text" value="Maddux" class="text track-focus">
                                                <br _ngcontent-mgp-c21="">
                                                <span _ngcontent-mgp-c21="" data-valmsg-for="lastNameOfEmpOrAuthorizedRepresentative" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                            </div>
                                            <div _ngcontent-mgp-c21="" class="span-12 last">
                                                <label _ngcontent-mgp-c21="" for="firstNameOfEmpOrAuthorizedRepresentative">First Name of Employer or Authorized Representative</label>
                                                <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                                <br _ngcontent-mgp-c21="">
                                                <input _ngcontent-mgp-c21="" data-name="firstNameOfEmpOrAuthorizedRepresentative" id="firstNameOfEmpOrAuthorizedRepresentative" name="firstNameOfEmpOrAuthorizedRepresentative" type="text" value="Greg" class="text track-focus">
                                                <br>
                                                <br _ngcontent-mgp-c21="">
                                                <span _ngcontent-mgp-c21="" data-valmsg-for="firstNameOfEmpOrAuthorizedRepresentative" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                            </div>
                                        <div _ngcontent-mgp-c21="" class="span-12">
                                            <label _ngcontent-mgp-c21="" for="empBusinessOrOrgName">Employer's Business or Organization Name</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" data-name="empBusinessOrOrgName" id="empBusinessOrOrgName" name="empBusinessOrOrgName" type="text" value="Retelzy" class="text track-focus">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="empBusinessOrOrgName" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12 last">
                                            <label _ngcontent-mgp-c21="" for="titleOfEmpOrAuthorizedRepresentative">Title of Employer or Authorized Representative</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" data-name="titleOfEmpOrAuthorizedRepresentative" id="titleOfEmpOrAuthorizedRepresentative" name="titleOfEmpOrAuthorizedRepresentative" type="text" value="Senior Manager" class="text track-focus">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="titleOfEmpOrAuthorizedRepresentative" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12">
                                            <label _ngcontent-mgp-c21="" for="firstDayOfEmployment">The Employee's first day of employment </label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" id="firstDayOfEmployment" name="firstDayOfEmployment" placeholder="dd/mm/yyyy" type="text" value="20/12/2020" class="text">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="firstDayOfEmployment" data-valmsg-replace="true" class="field-validation-valid error"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12 last">
                                            <label _ngcontent-mgp-c21="" for="dateofRehire">Date of Rehire , if applicable </label>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" id="dateofRehire" name="dateofRehire" placeholder="dd/mm/yyyy" type="text" value="-" class="text">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="dateofRehire" data-valmsg-replace="true" class="field-validation-valid error"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12">
                                            <label _ngcontent-mgp-c21="" for="sreetNumberAndName">Street Number and Name</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" id="sreetNumberAndName" name="sreetNumberAndName" type="text" value="122 SAHARA" class="text">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="sreetNumberAndName" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12 last">
                                            <label _ngcontent-mgp-c21="" for="townCity">Town / City</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" id="townCity" name="townCity" type="text" value="Atlanta" class="text">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="townCity" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12">
                                            <label _ngcontent-mgp-c21="" for="state">State</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <select _ngcontent-mgp-c21="" data-val="true" data-val-required="The state field is required." id="state" name="state" class="stateField">
                                                <option _ngcontent-mgp-c21="" value="MAHARASHTRA">MAHARASHTRA</option>
                                            </select>
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="state" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12 last">
                                            <label _ngcontent-mgp-c21="" for="pinCodeOrZipCode" class="pinOrZip-label">ZIP Code</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <input _ngcontent-mgp-c21="" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value="123456" class="text capitalize track-focus">
                                            <br>
                                            <br _ngcontent-mgp-c21="">
                                            <span _ngcontent-mgp-c21="" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                                        </div>
                                        <div _ngcontent-mgp-c21="" class="span-12">
                                            <label _ngcontent-mgp-c21="" for="country">Country</label>
                                            <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                                            <br _ngcontent-mgp-c21="">
                                            <select _ngcontent-mgp-c21="" data-val="true" data-val-required="The country field is required." id="country" name="country" class="country-dropdown">
                                            <option _ngcontent-mgp-c21="" selected="selected" value="INDIA">INDIA</option>
                                            </select>
                                        </div>
                                    </div>
                                        <div class="span-12">
                                            <button type="submit" class="large awesome green" name="submitButton" value="Add" (click)="saveOrg()">
                                            SAVE
                                            </button>
                                        </div>
                                    </fieldset>
                            </div>
                        </form>    
                    </div>
                </div>
            <div id="cboxTitle" style="float: left; display: block;"></div>
            <div id="cboxCurrent" style="float: left; display: none;"></div>
            <button type="button" id="cboxPrevious" style="display: none;"></button>
            <button type="button" id="cboxNext" style="display: none;"></button>
            <button id="cboxSlideshow" style="display: none;"></button>
            <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
            <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left; height: 617px;"></div>
    </div>
    <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left; width: 640px;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
    </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
    </div>
</div>

<div *ngIf="isEditVisaInfo">
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; position: absolute; visibility: visible; width: 1080px; height: 759px; top: 1300px; left: 319px; background: skyblue;">
        <div id="cboxWrapper" style="height: 759px; width: 1082px;">
            <div>
                <div id="cboxTopLeft" style="float: left;">
                </div>
                <div id="cboxTopCenter" style="float: left; width: 1040px;">
                </div>
                <div id="cboxTopRight" style="float: left;">
                </div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left; height: 717px;">
                </div>
                <div id="cboxContent" style="float: left; width: 1040px; height: 717px;">
                    <div id="cboxLoadedContent" style="width: 1040px; overflow: auto; height: 789px;">
                        <div id="userDetailsPopup">
                            <h6>VISA Information</h6>
                            <form action="/Account/Profile" method="post">    
                                <div class="span-24">
                                    <fieldset>
                                        <legend>VISA Information</legend>
                    <div class="span-24">
                        <div class="span-12">
                            <label for="gender">Is the employee a citizen of the United States?</label> 
                            <span class="redstar" style="color: red;"> *</span> <br>
                            <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                        <div class="span-12 last">
                            <label for="gender">Is the employee a citizen of another country?</label> 
                            <span class="redstar"> *</span> <br>
                            <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                    
                        <div class="span-12">
                            <label for="gender">Is the employee a lawful permanent resident?</label> 
                            <span class="redstar"> *</span> <br>
                            <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                        <div class="span-12 last">
                            <label for="gender">Is the employee an alien authorized to work?</label> 
                            <span class="redstar"> *</span> <br>
                            <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select><br><br>
                        </div>
                        <div class="span-12">
                            <label for="roadStreetPostOffice">If employee is a lawful permanent resident, then Alien Registration Number/USCIS Number</label>
                            <span class="redstar"> *</span> <br>
                            <input class="text" id="roadStreetPostOffice" name="roadStreetPostOffice" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="roadStreetPostOffice" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12 last">
                            <label class="pinOrZip-label" for="pinCodeOrZipCode">Alien authorized to work Alien Registration Number/USCIS Number, or </label> 
                            <span class="redstar"> *</span><br>
                            <input class="text capitalize track-focus" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12">
                            <label for="areaLocality">Alien authorized to work Form I-94 Admission Number, or</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="areaLocality" name="areaLocality" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="areaLocality" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12 last">
                            <label for="townCityDistrict">Alien authorized to work Foreign Passport Number</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12">
                            <label for="townCityDistrict">Alien authorized to work Foreign Passport Country of Issuance</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-12 last">
                            <label for="townCityDistrict">Alien authorized to work Foreign Passport Number</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-24">
                            <label for="townCityDistrict">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Title)</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-24">
                            <label for="townCityDistrict">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Number)</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                        </div>
                        <div class="span-24">
                            <label for="townCityDistrict">If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. [Expiration Date (if any)]</label> 
                            <span class="redstar"> *</span><br>
                            <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                            <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>  
                        </div>
                        
                    </div>
                                        <div class="span-12">
                                            <button type="submit" class="large awesome green" name="submitButton" value="Add" (click)="saveVisa()">
                                            SAVE
                                            </button>
                                        </div>
                                    </fieldset>
                            </div>
                        </form>    
                    </div>
                </div>
            <div id="cboxTitle" style="float: left; display: block;"></div>
            <div id="cboxCurrent" style="float: left; display: none;"></div>
            <button type="button" id="cboxPrevious" style="display: none;"></button>
            <button type="button" id="cboxNext" style="display: none;"></button>
            <button id="cboxSlideshow" style="display: none;"></button>
            <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
            <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left; height: 617px;"></div>
    </div>
    <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left; width: 640px;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
    </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
    </div>
</div>

<div *ngIf="isEditDocInfo">
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: block; position: absolute; visibility: visible; width: 1080px; height: 559px; top: 1500px; left: 319px; background: skyblue;">
        <div id="cboxWrapper" style="height: 559px; width: 1082px;">
            <div>
                <div id="cboxTopLeft" style="float: left;">
                </div>
                <div id="cboxTopCenter" style="float: left; width: 1040px;">
                </div>
                <div id="cboxTopRight" style="float: left;">
                </div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left; height: 517px;">
                </div>
                <div id="cboxContent" style="float: left; width: 1040px; height: 517px;">
                    <div id="cboxLoadedContent" style="width: 1040px; overflow: auto; height: 489px;">
                        <div id="userDetailsPopup">
                            <h6>Edit Document Information</h6>
                            <form action="/Account/Profile" method="post">    
                                <div class="span-24">
                                    <fieldset>
                                        <legend>Document Information</legend>
                                        <div class="span-12">
                                            <div class="span-8">
                                                <label for="flatDoorBlockNumber">Document Title</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text track-focus" data-name="AddressFlat" id="flatDoorBlockNumber" name="flatDoorBlockNumber" type="text" value=""><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="flatDoorBlockNumber" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-8">
                                                <label for="roadStreetPostOffice">Issuing Authority</label>
                                                <span class="redstar"> *</span> <br>
                                                <input class="text" id="roadStreetPostOffice" name="roadStreetPostOffice" type="text" value=""><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="roadStreetPostOffice" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-8 last">
                                                <label class="pinOrZip-label" for="pinCodeOrZipCode">Document Number</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text capitalize track-focus" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value=""><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true"></span>
                                            </div>
                                                <div class="span-8">
                                                <label for="dateofBirth">Expiration Date</label>  
                                                <span class="redstar"> *</span><br>
                                                <input class="text" id="dateofBirth" name="dateofBirth" placeholder="dd/mm/yyyy" type="text" value=""><br><br>
                                                <span class="field-validation-valid error" data-valmsg-for="dateofBirth" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="span-8 last">
                                                <label for="townCityDistrict">Additional Information</label> 
                                                <span class="redstar"> *</span><br>
                                                <input class="text" id="townCityDistrict" name="townCityDistrict" type="text" value=""><br><br>
                                                <span class="field-validation-valid notice" data-valmsg-for="townCityDistrict" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="span-12">
                                            <button type="submit" class="large awesome green" name="submitButton" value="Add" (click)="saveDoc()">
                                            SAVE
                                            </button>
                                        </div>
                                    </fieldset>
                            </div>
                        </form>    
                    </div>
                </div>
            <div id="cboxTitle" style="float: left; display: block;"></div>
            <div id="cboxCurrent" style="float: left; display: none;"></div>
            <button type="button" id="cboxPrevious" style="display: none;"></button>
            <button type="button" id="cboxNext" style="display: none;"></button>
            <button id="cboxSlideshow" style="display: none;"></button>
            <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
            <div id="cboxLoadingGraphic" style="float: left; display: none;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left; height: 617px;"></div>
    </div>
    <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left; width: 640px;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
    </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
    </div>
</div>

</div>
