<div class="container">
    <h6>Organization Details</h6>
<br>
<form action="/paytax/y2021/1/Address" method="post"> 
    <div>
        <div _ngcontent-mgp-c21="" id="address-form" class="span-24">
            <fieldset _ngcontent-mgp-c21="">
                <legend _ngcontent-mgp-c21="">Organization Details</legend>
                <div _ngcontent-mgp-c21="" class="span-24 last">
                    <div _ngcontent-mgp-c21="" class="span-12">
                        <label _ngcontent-mgp-c21="" for="lastNameOfEmpOrAuthorizedRepresentative">Last Name of Employer or Authorized Representative </label>
                        <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                        <br _ngcontent-mgp-c21="">
                        <input _ngcontent-mgp-c21="" data-name="lastNameOfEmpOrAuthorizedRepresentative" id="lastNameOfEmpOrAuthorizedRepresentative" name="lastNameOfEmpOrAuthorizedRepresentative" type="text" value="" class="text track-focus">
                        <br _ngcontent-mgp-c21="">
                        <span _ngcontent-mgp-c21="" data-valmsg-for="lastNameOfEmpOrAuthorizedRepresentative" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                    </div>
                    <div _ngcontent-mgp-c21="" class="span-12 last">
                        <label _ngcontent-mgp-c21="" for="firstNameOfEmpOrAuthorizedRepresentative">First Name of Employer or Authorized Representative</label>
                        <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                        <br _ngcontent-mgp-c21="">
                        <input _ngcontent-mgp-c21="" data-name="firstNameOfEmpOrAuthorizedRepresentative" id="firstNameOfEmpOrAuthorizedRepresentative" name="firstNameOfEmpOrAuthorizedRepresentative" type="text" value="" class="text track-focus">
                        <br>
                        <br _ngcontent-mgp-c21="">
                        <span _ngcontent-mgp-c21="" data-valmsg-for="firstNameOfEmpOrAuthorizedRepresentative" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                    </div>
                <div _ngcontent-mgp-c21="" class="span-12">
                    <label _ngcontent-mgp-c21="" for="empBusinessOrOrgName">Employer's Business or Organization Name</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" data-name="empBusinessOrOrgName" id="empBusinessOrOrgName" name="empBusinessOrOrgName" type="text" value="" class="text track-focus">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="empBusinessOrOrgName" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12 last">
                    <label _ngcontent-mgp-c21="" for="titleOfEmpOrAuthorizedRepresentative">Title of Employer or Authorized Representative</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" data-name="titleOfEmpOrAuthorizedRepresentative" id="titleOfEmpOrAuthorizedRepresentative" name="titleOfEmpOrAuthorizedRepresentative" type="text" value="" class="text track-focus">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="titleOfEmpOrAuthorizedRepresentative" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12">
                    <label _ngcontent-mgp-c21="" for="firstDayOfEmployment">The Employee's first day of employment </label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" id="firstDayOfEmployment" name="firstDayOfEmployment" placeholder="dd/mm/yyyy" type="text" value="" class="text">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="firstDayOfEmployment" data-valmsg-replace="true" class="field-validation-valid error"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12 last">
                    <label _ngcontent-mgp-c21="" for="dateofRehire">Date of Rehire , if applicable </label>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" id="dateofRehire" name="dateofRehire" placeholder="dd/mm/yyyy" type="text" value="" class="text">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="dateofRehire" data-valmsg-replace="true" class="field-validation-valid error"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12">
                    <label _ngcontent-mgp-c21="" for="sreetNumberAndName">Street Number and Name</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" id="sreetNumberAndName" name="sreetNumberAndName" type="text" value="" class="text">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="sreetNumberAndName" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12 last">
                    <label _ngcontent-mgp-c21="" for="townCity">Town / City</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" id="townCity" name="townCity" type="text" value="" class="text">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="townCity" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12">
                    <label _ngcontent-mgp-c21="" for="state">State</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <select _ngcontent-mgp-c21="" data-val="true" data-val-required="The stateInIndia field is required." id="state" name="state" class="stateField">
                        <option _ngcontent-mgp-c21="" value="MAHARASHTRA">MAHARASHTRA</option>
                    </select>
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="state" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12 last">
                    <label _ngcontent-mgp-c21="" for="pinCodeOrZipCode" class="pinOrZip-label">ZIP Code</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <input _ngcontent-mgp-c21="" id="pinCodeOrZipCode" name="pinCodeOrZipCode" type="text" value="" class="text capitalize track-focus">
                    <br>
                    <br _ngcontent-mgp-c21="">
                    <span _ngcontent-mgp-c21="" data-valmsg-for="pinCodeOrZipCode" data-valmsg-replace="true" class="field-validation-valid notice"></span>
                </div>
                <div _ngcontent-mgp-c21="" class="span-12">
                    <label _ngcontent-mgp-c21="" for="country">Country</label>
                    <span _ngcontent-mgp-c21="" class="redstar"> *</span>
                    <br _ngcontent-mgp-c21="">
                    <select _ngcontent-mgp-c21="" data-val="true" data-val-required="The country field is required." id="country" name="country" class="country-dropdown">
                    <option _ngcontent-mgp-c21="" selected="selected" value="INDIA">INDIA</option>
                    </select>
                </div>
            </div>
            </fieldset>
        </div>
        <div class="span-24 last sticky-check" style="margin-bottom: 0px; display: block;">
            <div class="sticky-container">
                <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="Organization" class="large awesome blue btn-save full-640">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
</div>